<ul class="nav nav-pills">
  <li role="presentation"><%= link_to 'page1', experiments_page1_path %></li>
  <li role="presentation"><%= link_to 'page2',experiments_page2_path  %></li>
  <li role="presentation"><%= link_to 'page3',experiments_page3_path  %></li>
</ul>