<h1>Pages#batman</h1>
<p>Find me in app/views/pages/batman.html.erb</p>
<script type="text/javascript">
  $.backstretch("http://i.kinja-img.com/gawker-media/image/upload/s--_cCfXp_D--/1370862899782781508.png");
</script>

<h1>I am Batman</h1>