

<h1>Pages#batman</h1>
<p>Find me in app/views/pages/batman.html.erb</p>
<script type="text/javascript">
  $.backstretch("http://cdn.playbuzz.com/cdn/8ff306c2-e5d4-4974-9151-5118192add5d/f040fb43-6aa8-43c0-8ba8-15f997347f15.jpg");
</script>

<h1>This looks like a job for Superman</h1>